[user]
    signingKey = ~/.ssh/jhlee11/id_rsa_cookapps-jhlee11.pub
    email = jhlee11@cookapps.com
    name = cookapps-jhlee11
[credential]
    helper = store
[pager]
    branch = false
    log = true
[diff]
    tool = vimdiff
[core]
    editor = vim
[init]
    defaultBranch = main
[fetch]
    prune = true
    recurseSubmodules = true
[gpg]
    format = ssh
[commit]
    gpgsign = true
[pull]
    rebase = false
    recurseSubmodules = true
[status]
    showStash = true
[alias]
    lg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    alg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    gla = log --graph --oneline --decorate --all
    st = status
    sts = stash
    sw = switch
    sc = switch -c
    c = checkout
    cb = checkout -b
    cv = commit -v
    b = branch
    ba = branch -a
    bd = branch -D
    bdo = push origin --delete 
    f = pull
    p = push
    pu = push -u origin HEAD
    pf = push -f
    ss = status -s
    rc = rebase --continue
    ra = rebase --abort
    fom = f origin main
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
